[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".config/tmux/plugins/.config/tmux/plugins/tmux"]
	path = .config/tmux/plugins/.config/tmux/plugins/tmux
	url = https://github.com/tmux-plugins/tpm
