/* window count */

#windowcount {
	margin-right: 12px;
}
#windowcount label {
	color: @hover-fg;
}

/* temperature */

#custom-left_div.2 {
	color: @color13;
}
#temperature {
    color: @background;
	background-color: @color13;
}

/* memory */

#custom-left_div.3 {
	background-color: @color13;
	color: @color14;
}
#memory {
    color: @background;
	background-color: @color14;
}

/* cpu */

#custom-left_div.4 {
	background-color: @color14;
	color: @color15;
}
#cpu {
    color: @background;
	background-color: @color15;
}
#custom-left_inv.1 {
	color: @color15;
}

/* distro icon */

#custom-left_div.5,
#custom-right_div.2 {
	color: @accent;
}
#custom-distro {
	padding: 0 10px 0 5px;
	font-size: 23px;
	background-color: @accent;
	color: @main-bg;
}

/* idle inhibitor & time */

#custom-right_inv.1 {
	color: @color15;
}
#idle_inhibitor {
    color: @background;
	background-color: @color15;
}
#clock.time {
    color: @background;
	padding-right: 6px;
	background-color: @color15;
}
#custom-right_div.3 {
	background-color: @color14;
	color: @color15;
}

/* date */

#clock.date {
    color: @background;
	padding-left: 6px;
	background-color: @color14;
}
#custom-right_div.4 {
	background-color: @color13;
	color: @color14;
}

/* quick settings */

#network {
    color: @background;
	background-color: @color13;
	padding: 0 6px 0 4px;
}
#bluetooth {
    color: @background;
	background-color: @color13;
	padding: 0 5px;
}
#custom-system_update {
    color: @background;
	background-color: @color13;
	padding: 0 8px 0 2px;
}
#custom-right_div.5 {
	color: @color13;
}
