@import '../../.cache/wal/colors-waybar.css';

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0 4px;
    font-size: 18;
    font-family: "Rubik";
    font-weight: 500;
}

.modules-left {
    background: @color0;
    border: 2px solid @color1;
    border-radius: 22px;
}

.modules-center {
    background: @color0;
    border: 2px solid @color1;
    border-radius: 22px;
}

.modules-right {
    background: @color0;
    border: 2px solid @color1;
    border-radius: 22px;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    margin: 4px 0px 4px 0px;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(135deg, @color4, @color6, @color8);
    color: @color0;
}

#clock {
    color: @fg;
}

#cpu {
    color: @color5;
}

#memory {
    color: @color8;
}

#network {
    color: @color13;
}

#pulseaudio {
    color: @color11;
}

#battery {
    color: @color12;
}

#custom-notification {
    padding-right: 12px;
}

#tray {
    padding-right: 0px;
}
