@theme "~/.cache/wal/colors-rofi-dark.rasi"

textbox-prompt-colon {
    str: "";
}

configuration {
	location: 0;
	font: "JetBrainsMono Nerd Font 12";	
	display-drun: "";
}

window { 
	width: 25%;
	orientation: vertical;
    border: 2px solid;
    border-color: @foreground;
}

element-text selected {
    text-color: @background;
}
