@theme "~/.cache/wal/colors-rofi-dark.rasi"

textbox-prompt-colon {
    str: "";
}

configuration {
	show-icons: true;
	location: 0;
	font: "JetBrainsMono Nerd Font 14";	
	display-drun: "Launch";
}

window { 
	width: 25%;
	orientation: vertical;
    border: 2px solid;
    border-radius: 8px;
    border-color: @urgent-background;
}

inputbar {
    border: 2px solid;
    border-color: @active-background;
    padding: 4px;
    border-radius: 8px;
}

element {
    border-radius: 8px;
    text-color: @normal-background;
}

element-icon {
    size: 48;
}

listview {
    lines: 8;
}

element selected.normal {
    text-color: @background;
}
