@import '../../../.cache/wal/colors-waybar.css';

#syshud {
	background: transparent;
}

#syshud .box_layout {
	background: @background;
    border: 2px solid @color1;
	border-radius: 8px;
	margin: 10px;
}

#syshud scale {
	margin: 0px;
	padding: 0px;
}

#syshud label {
	color: @foreground;
}

/* Vertical layout */
#syshud scale.vertical {
	padding: 0px;
	min-width: 5px;
}
#syshud scale.vertical trough {
	border-radius: 3px;
	background: alpha(currentColor, 0.1);
	min-width: 5px;
	padding: 0px;
}
#syshud scale.vertical highlight {
	border-radius: 3px;
	min-width: 5px;
	background: alpha(@foreground, 0.75);
	margin: 0px;
}
#syshud scale.vertical slider {
	margin: 0px;
	background: transparent;
	min-width: 5px;
	box-shadow: none;
	padding: 0px;
}

/* Levels */
#syshud .muted {
}
#syshud .low {
}
#syshud .medium {
}
#syshud .high {
}
