* {
  border-radius: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16;
  min-height: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

window#waybar {
  background: #1E1E2F;
  border-radius: 8px;
}

#cpu {
  color: #59C2FF;
}

#memory {
  color: #A6E3A2;
}

#custom-media {
  color: #F28FAD;
}

#clock {
  color: #F696FF;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #F28FAD;
    color: #15141B;
  }
}

#pulseaudio {
  color: #FCE196;
}
