@theme "~/.cache/wal/colors-rofi-dark.rasi"

textbox-prompt-colon {
    str: "";
}

configuration {
	show-icons: false;
	location: 0;
	font: "JetBrainsMono Nerd Font 12";	
	display-drun: "";
}

window { 
	width: 25%;
	orientation: vertical;
    border: 2px solid;
    border-color: @foreground;
}

element selected {
  border-radius: 0px;
}

element-text selected {
    text-color: @background;
}

entry {
	padding: 10 10 0 0;
	margin: 0 0 0 0;
}

prompt {
	margin: 0 -6 0 0;
}
