@theme ".config/rofi/configs/shared.rasi"
?import ".cache/rofi/rounding.rasi"

element selected {
  border-radius: 0px;
}

element-text selected {
    text-color: @background;
}

entry {
	padding: 10 10 0 0;
	margin: 0 0 0 0;
}

prompt {
	margin: 0 -6 0 0;
}
