@theme "~/.config/rofi/configs/shared.rasi"

window {
    border: 0px;
    anchor: south;
    location: south;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

mainbox { 
    orientation: horizontal;
}

inputbar {
    max-width: 0%;
}

listview {
    layout: horizontal;
    lines: 32;
}

element-text selected {
    text-color: @background;
}
