@theme "~/.cache/wal/colors-rofi-dark.rasi"

textbox-prompt-colon {
    str: "";
}

configuration {
	font: "JetBrainsMono Nerd Font 12";	
	display-drun: "";
    drun-display-format: "{name}";
    position: south;
    anchor: south;
}

window {
    anchor: south;
    location: south;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

mainbox { 
    orientation: horizontal;
}

inputbar {
    max-width: 0%;
}

listview {
    layout: horizontal;
    lines: 32;
}

element-text selected {
    text-color: @background;
}
