@theme ".config/rofi/configs/shared.rasi"
?import ".cache/rofi-rounding.rasi"

configuration {
	show-icons: true;
    font: "Rubik Bold 12";
}

inputbar {
    border: 2px solid;
    border-color: @active-background;
    padding: 4px;
    border-radius: 32px;
}

element {
    border-radius: 32px;
    text-color: @normal-background;
}

element-text {
    vertical-align: 0.5;
}

element-icon {
    size: 32;
}

listview {
    lines: 12;
}
